<!DOCTYPE HTML>
<!--
	Visualize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Visualize by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<span class="avatar"><img src="static/images/full/professional-development-tools-for-teachers.jpg" alt="" /></span>
						<h1><strong>Teacher Dashboard</strong></h1>
					</header>
				<!-- Main -->
					<section id="main">

						<!-- Thumbnails -->
							<section class="thumbnails">
								<div>
									<a href="static/images/full/Schedule Col MBA Spring 2018 (1).JPG" class="login100-form-btn">Your Classes
                                    <img src="static/images/full/Schedule Col MBA Spring 2018 (1).JPG" alt="">
                                    </a>
								</div>
								<div>
									<a href="/teacherusers" class="login100-form-btn">Update Info
                                    <img src="static/images/full/php-update-featured-image.jpg" alt="">
                                    </a>
								</div>
							</section>

					</section>

			</div>

	</body>
</html>